<h1>Список пользователей</h1>
<hr>
<p> Всего пользователей: <%= @users.count  %></p>


<hr>
<div class = "users">
<% @users.each do |user| %>
    <p style="color: #d30001">
      <%= gravatar_for(user, size: 50)%>
      <%= link_to( user.username, user )%></p>
  <hr>
<% end %>
</div>
<%= will_paginate @users %>