<p> Всего пользователей: <%= @user.count  %></p>
<hr>
<h1>Список пользователей</h1>
<hr>
<% @user.each do |user| %>
  <div>
    <p style="color: #d30001"> <%= user.username  %></p>
  </div>
  <hr>
<% end %>