<h1>Список пользователей</h1>
<hr>
<p> Всего пользователей: <%= @users.count  %></p>


<hr>
<% @users.each do |user| %>
  <div>
    <p style="color: #d30001">
      <%= link_to user.username, user %></p>
  </div>
  <hr>
<% end %>