<%= @user.username %>
<br>
<%= @user.email %>


<br>
<br>
Посты пользователя:
<br>
<br>
<% @user.posts.each do |post| %>
  <%= post.content %>
  <a href="/posts/<%= post.id %>"></a>
  <hr>
<% end %>




