<h1><%= @title %></h1>

<div class="followers-list">
  <% if @followers == [] %>
    <%= 'Нет подписчиков' %>
  <% else %>
    <% @followers.each do |follower| %>
      <div class="follower">
        <%= link_to follower.username, user_path(follower) %>
      </div>
    <% end %>
  <% end %>
</div>
