<h1>Редактировать пост</h1>

<%= form_with(model: @post, local: true) do |form| %>


  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить изменения" %>
  </div>
<% end %>


