
<h1 style="color: #005A8D"> Все посты</h1>
<p>Сортировка постов по:
<%= link_to "новым", posts_path(sort: 'newest') %>
<%= link_to "старым", posts_path(sort: 'oldest') %>
</p>
<% @posts.each do |post| %>
  <div>
    <p style="color: #005A8D"> Автор: <%= post.user.username  %></p>
    <%= post.content %>

  </div>
<hr>
<% end %>

