<h1> Все посты</h1>

<% @posts.each do |post| %>
  <div>
    <%= post.content %>
    <p> Автор: <%= post.user.username  %></p>
    <a href="/posts/<%= post.id %>" class="btn btn-primary">Cмотреть &rarr;</a>

  </div>
<hr>
<% end %>

