/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d30001; /* Цвет фона подвала */
    color: #fff; /* Цвет текста подвала */
    padding: 10px 0; /* Отступы внутри подвала */
}

.custom-border {
    border-bottom: 1.4px solid gray; /* Толщина 2px, стиль линии - сплошной, цвет серый */
    background-color: rgba(255, 255, 255, 0.9);

}
.mt-5 {
    padding-top: 50px;
}

.post{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    width: 700px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.p2 {
    text-align: center;
}

